.App {
  text-align: center;
}

.App-header {
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  background-color: #050505;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  margin: 10rem 0;
  font-size: 6rem;
}

/* Card */

.cardDisplay {
  display: flex;
  flex-direction: row;  
  justify-content: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 0 3rem;
  box-sizing: border-box;
}

.cardDisplay .card {
  flex: 1 1 calc(33% - 2rem); /* 3 cards foreach lines */
  margin: 0;
}

@media (max-width: 900px) {
  .cardDisplay {
     padding: 0 2rem;
  }
  .cardDisplay .cardStyle {
    flex: 1 1 calc(50% - 2rem); /* 2 cards */
    margin: 0;
  }

  .title {
    margin: 7rem 0;
  }
}

@media (max-width: 600px) {
  .cardDisplay {
     padding: 0 1rem;
  }

  .cardDisplay .cardStyle {
    flex: 1 1 100%; /* 1 card */
    margin: 0;
  }

  .title {
    font-size: 3rem;
    margin: 3rem 0;
  }
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, #fff, #acacac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2rem;
}