.App {
  text-align: center;
}

.App-header {
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  background-color: #050505;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}