.title {
  margin: 10rem 0;
  font-size: 7rem;
}

/* Card */
.cardDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 0 3rem;
  box-sizing: border-box;
  margin-bottom: 3vh;
}

/* Desktop : 3 cards max by lines */
.cardDisplay .card {
  flex: 0 0 calc((100% - 2 * 3rem) / 3);
  margin: 0;
}

.cardDisplay .card:nth-last-child(-n + 3):first-child:nth-last-child(-n + 3),
.cardDisplay .card:nth-last-child(-n + 3):first-child:nth-last-child(-n + 2),
.cardDisplay .card:nth-last-child(-n + 3):first-child:nth-last-child(-n + 1) {
  margin-left: auto;
  margin-right: auto;
}

/* Tablet : 2 cards by line */
@media (max-width: 900px) {
  .cardDisplay {
    padding: 0 2rem;
  }
  .cardDisplay .card {
    flex: 0 0 calc((100% - 1 * 2rem) / 2);
  }
  .cardDisplay .card:nth-last-child(-n + 2) {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Mobile : 1 card by line*/
@media (max-width: 600px) {
  .cardDisplay {
    padding: 0 1rem;
  }
  .cardDisplay .card {
    flex: 0 0 100%;
    margin: 0 auto;
  }

  .title {
    font-size: 3rem;
    margin: 3rem 0;
  }
}


h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, #fff, #acacac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2rem;
}